.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.contacts, .nav__list, .menu-socials__list, .menu-contacts__list, .menu-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.contacts__link, .nav__link, .mobile-btn-icon__close, .menu-nav__link {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-size: 14px;
  line-height: 1.7142857143;
  font-family: "Roboto", sans-serif;
  color: #757575;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: currentColor;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-set__item {
  flex-basis: calc((100% - 60px) / 3);
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #2196f3;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .logo--footer {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }
  .logo {
    font-size: 24px;
    line-height: 1.1666666667;
  }
  .logo__secondary-part {
    font-size: 24px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.1923076923;
  }
  .logo__secondary-part {
    font-size: 26px;
    line-height: 1.1923076923;
  }
}
.logo__secondary-part {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: #000000;
}
.logo__secondary-part--light {
  color: #ffffff;
}

@media screen and (max-width: 767.98px) {
  .menu-container {
    display: none;
  }
  .menu-container.is-open {
    display: block;
    position: absolute;
    z-index: 1;
    left: -15px;
    top: -16px;
    width: 480px;
    height: 796px;
    padding: 48px 40px;
    background-color: #ffffff;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .menu-nav__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 302px;
  }
}
@media screen and (min-width: 768px) {
  .menu-nav__list {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .menu-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .menu-nav__item {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .menu-nav__link {
    display: block;
    margin-right: auto;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: #212121;
    transition-property: color;
  }
  .menu-nav__link:hover, .menu-nav__link:focus {
    color: #2196f3;
  }
  .menu-nav__link--current {
    color: #2196f3;
  }
}
@media screen and (min-width: 768px) {
  .menu-nav__link {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .menu-contacts__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 767.98px) {
  .menu-contacts__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .menu-contacts__item {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .menu-contacts__link {
    display: block;
    margin-right: auto;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .menu-contacts__link--mobile {
    font-size: 34px;
    line-height: 1.1764705882;
    color: #2196f3;
  }
}
@media screen and (min-width: 768px) {
  .menu-contacts__link {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .menu-socials__list {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .menu-socials__list {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .menu-socials__item:not(:last-child) {
    margin-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .menu-socials__item {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .menu-socials__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2222222222;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}
@media screen and (min-width: 768px) {
  .menu-socials__link {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .menu-button {
    position: absolute;
    top: 6px;
    right: 0px;
    z-index: 2;
    border: none;
    background-color: transparent;
  }
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .menu-button .mobile-btn-icon__menu {
    display: none;
  }
  .menu-button.is-open .mobile-btn-icon__menu {
    display: block;
  }
}

.mobile-btn-icon__close {
  transition-property: fill;
}
.menu-button.is-open .mobile-btn-icon__close {
  display: none;
}
.mobile-btn-icon__close:hover, .mobile-btn-icon__close:focus {
  fill: #2196f3;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials .item:not(:last-child) {
  margin-right: 10px;
}
.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link--dark {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}
.socials__link:hover, .socials__link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%);
}

.modal {
  padding: 40px;
  position: absolute;
  left: 50%;
  top: 400px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.modal__btn:hover, .modal__btn:focus {
  fill: #2196f3;
}

.register {
  font-size: 12px;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .register__text-label--mobile {
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 1200px) {
  .register {
    font-size: 14px;
  }
}
.register__title {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.register__form {
  margin-bottom: 20px;
}
.register__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.register__wrap:not(:last-child) {
  margin-bottom: 10px;
}
.register__label {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
}
.register__field {
  padding: 12px 41px;
  font-size: 14px;
  line-height: 1.1666666667;
  border: 1px solid rgba(13, 2, 2, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.register__field:focus {
  border-color: #2196f3;
}
.register__icon {
  position: absolute;
  bottom: 14px;
  left: 12px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.register__field:focus + .register__icon {
  fill: #212121;
}
.register__message {
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
  border: 1px solid rgba(13, 2, 2, 0.2);
  border-radius: 4px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.register__message:focus {
  border-color: #2196f3;
}
.register__message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.register__agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 30px;
}
.register__checkbox:focus + .register__agreement-icon {
  outline: 2px solid #2196f3;
  outline-offset: 1px;
  border-radius: 2px;
}
.register__uncheck {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.register__checkbox {
  opacity: 0;
}
.register__checkbox:checked + .register__pic > .register__uncheck {
  opacity: 0;
}
.register__check {
  opacity: 0;
  fill: #2196f3;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.register__checkbox:checked + .register__pic > .register__check {
  opacity: 1;
}
.register__text-label {
  line-height: 1.7142857143;
  color: #757575;
  user-select: none;
}
.register__text-link {
  color: #2196f3;
  text-decoration: underline;
  text-underline-position: under;
}
.register__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
}
.register__btn:focus, .register__btn:hover {
  background-color: #188ce8;
}

.header {
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 767.98px) {
  .header {
    padding-top: 16px;
    padding-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .header__group {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767.98px) {
  .nav {
    position: relative;
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767.98px) {
  .nav__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    align-items: center;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__list {
    margin-left: 93px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .nav__item {
    display: flex;
    align-items: center;
  }
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__item {
    display: flex;
    align-items: center;
  }
  .nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
}
@media screen and (min-width: 768px) {
  .nav__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 31px;
  }
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}
.nav__link--current {
  color: #2196f3;
}
.nav__link--current::after {
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 4px;
  content: "";
  background-color: #2196f3;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .contacts--tablet {
    margin-left: auto;
  }
}
@media screen and (max-width: 767.98px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 27px;
  }
}

.contacts__link {
  display: flex;
  fill: #757575;
  color: #757575;
  transition-property: fill, color;
}
@media screen and (min-width: 768px) {
  .contacts__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.1428571429;
  }
}
.contacts__link:hover, .contacts__link:focus {
  fill: #2196f3;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .contacts__icon {
    width: 14px;
    height: 14px;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
}
.contacts__icon--tel {
  margin-right: 3px;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (max-width: 767.98px) {
  .hero--overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-img/hero-bg@1x_sm.jpg);
  }
}
@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .hero--overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-img/hero-bg@2x_sm.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero--overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-img/hero-bg@1x_md.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero--overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-img/hero-bg@2x_md.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero--overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-img/hero-bg@1x_lg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero--overlay {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero-img/hero-bg@2x_lg.jpg);
  }
}

.hero__title {
  display: block;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: center;
  color: #ffffff;
}
@media screen and (max-width: 767.98px) {
  .hero__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 1.5416666667;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6153846154;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636363636;
    letter-spacing: 0.06em;
  }
}

.hero__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 6px 20px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 4px solid transparent;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding-left: 28px;
    padding-right: 28px;
    min-width: 216px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .advantages__picture {
    padding: 25px 0px;
    text-align: center;
  }
  .advantages__item {
    margin-bottom: 30px;
  }
  .advantages__item:last-child {
    margin-bottom: 0px;
  }
  .advantages__heading {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .advantages__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .advantages__picture {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
  }
  .advantages__list .item:not(:last-child) {
    margin-right: 30px;
  }
  .advantages__list {
    display: flex;
  }
}
.advantages__heading {
  margin-top: 30px;
  margin-bottom: 10px;
  line-height: 1.1428571429;
  font-size: 14px;
  text-transform: uppercase;
  color: #212121;
}
.advantages__text {
  margin-bottom: 0px;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .examples {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .examples {
    padding-top: 0;
  }
  .examples__heading {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: #212121;
  }
  .examples__list {
    display: flex;
  }
  .examples__list .item:not(:last-child) {
    margin-right: 30px;
  }
  .examples__content {
    position: relative;
  }
  .examples__overlay {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 70px;
    align-items: center;
    justify-content: center;
    background-color: rgba(47, 48, 58, 0.8);
  }
  .examples__subtitle {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.team {
  background-color: #f5f4fa;
}
.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  color: #212121;
}
.team__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
}
.team__title {
  font-weight: 700;
  text-align: center;
  color: #212121;
}
@media screen and (max-width: 767px) {
  .team__item {
    display: inline-block;
    text-align: center;
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .team__title {
    font-size: 28px;
    line-height: 1.1785714286;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.1666666667;
    margin-bottom: 50px;
  }
  .team__list {
    display: flex;
  }
  .team__list .item:not(:last-child) {
    margin-right: 30px;
  }
}
.team__wrap {
  padding: 30px 0;
  background-color: #ffffff;
}
.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  color: #212121;
}
.team__position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
}
.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.clients__title {
  text-align: center;
  color: #212121;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .clients {
    display: inline-block;
  }
  .clients__item {
    display: inline-block;
    margin-top: 30px;
  }
  .clients__item:nth-child(odd) {
    margin-right: 30px;
  }
  .clients__title {
    font-size: 30px;
    line-height: 1.1785714286;
  }
  .clients__list {
    display: block;
    font-size: 0;
  }
  .clients__link {
    display: inline-block;
    padding: 16px 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .clients__title {
    font-size: 28px;
    line-height: 1.1785714286;
    margin-bottom: 30px;
  }
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .clients__title {
    font-size: 36px;
    line-height: 1.1666666667;
    margin-bottom: 50px;
  }
  .clients__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .clients__link {
    width: 170px;
  }
  .clients__list .item:not(:last-child) {
    margin-right: 30px;
  }
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}
.clients__link {
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
@media screen and (max-width: 767px) {
  .portfolio__nav {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .portfolio__item {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__nav {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__nav {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}
.portfolio__nav .item:not(:last-child) {
  margin-right: 8px;
}
.portfolio__btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: 4px solid transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: #212121;
  background: #f5f4fa;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__btn--current {
  color: #ffffff;
  background-color: #2196f3;
}
.portfolio__btn:hover, .portfolio__btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: #2196f3;
  color: #ffffff;
}

.product__link:hover, .product__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.product__position {
  background-color: #ffffff;
}
.product__link {
  display: block;
  background-color: #ffffff;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.product__meta {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.product__heading {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.product__position {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}
.product__wrap {
  position: relative;
  overflow: hidden;
}
.product__overlay {
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.product__link:hover .product__overlay, .product__link:focus .product__overlay {
  transform: translateY(0%);
}
.product__desc {
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}

.footer {
  padding: 60px 0px;
  background-color: #2f303a;
}
.footer__desc {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__container {
    display: block;
    text-align: center;
  }
  .footer__item {
    display: inline-block;
    text-align: center;
  }
  .footer__item--mobile {
    margin-bottom: 60px;
  }
  .footer__desc--mobile {
    display: block;
    text-align: center;
  }
  .footer__networks--mobile {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .footer__item {
    display: flex;
    flex-direction: column;
  }
  .footer__item--mobile {
    margin-bottom: 60px;
    margin-right: 61px;
  }
  .footer__desc--mobile {
    display: block;
    text-align: center;
    margin-top: 5px;
  }
  .footer__networks--mobile {
    margin-left: 165px;
    margin-right: 61px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
  }
  .footer__networks {
    padding-top: 12px;
    margin-left: 70px;
    margin-right: 93px;
  }
  .footer__logo {
    margin-bottom: 20px;
  }
  .footer__container {
    display: flex;
  }
  .footer__networks {
    padding-top: 12px;
    margin-left: 70px;
    margin-right: 93px;
  }
  .footer--footer {
    margin-bottom: 20px;
  }
}

.address__item--mail {
  margin-top: 9px;
  margin-bottom: 9px;
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .address__link--location, .address__link--tel, .address__link--mail {
    text-align: center;
    display: block;
  }
  .address__item--mail {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
.address__link {
  font-style: normal;
  line-height: 1.7142857143;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link--location {
  display: inline-block;
  font-style: normal;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}
.address__link--mail:hover, .address__link--mail:focus {
  color: #2196f3;
}
.address__link--tel:hover, .address__link--tel:focus {
  color: #2196f3;
}

.subscription__btn {
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
}
.subscription__icon {
  position: absolute;
  top: 13px;
  right: 28px;
  fill: #ffffff;
}
.subscription__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #ffffff;
}
.subscription__input {
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}
.subscription__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .subscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .subscription__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .subscription__label--mobile {
    text-align: center;
  }
  .subscription__btn {
    display: inline-flex;
    position: relative;
    padding: 10px 62px 10px 28px;
    height: 50px;
    min-width: 200px;
  }
  .subscription__input {
    align-items: center;
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .subscription__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .subscription__label--mobile {
    text-align: center;
  }
  .subscription__btn {
    display: inline-flex;
    position: relative;
    padding: 10px 62px 10px 28px;
    height: 50px;
    min-width: 200px;
  }
  .subscription__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription {
    display: inline-flex;
    gap: 12px;
  }
  .subscription__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .subscription__label {
    padding-top: 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428571429;
    text-transform: uppercase;
    color: #ffffff;
  }
  .subscription__input {
    min-width: 358px;
    padding: 15px 16px;
    font-size: 16px;
    line-height: 1.25;
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
  }
  .subscription__input::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }
  .subscription__btn {
    position: relative;
    margin-top: 48px;
    padding: 10px 62px 10px 28px;
    min-width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: #ffffff;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
  }
  .subscription__icon {
    position: absolute;
    top: 13px;
    right: 28px;
    fill: #ffffff;
  }
}/*# sourceMappingURL=main.css.map */