/* body text color: #757575 */
/* secondary color #212121 */
/* address mail. tel. link color: rgba(255, 255, 255, 0.6); */
/* special (nav, logo acÑent) color #2196F3*/
/* hero h1 color #FFFFFF */
/* body background color #2F303A; */
/* header background color #FFFFFF*/
/* hero, footer background color #FFFFFF*/
/* Our advantages background color #E5E5E5* */
/* Our team background color #F5F4FA* */
/* Hedear */
/* :root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --hero-color: #ffffff;
  --network-bg-color: rgba(255, 255, 255, 0.1);
  --address-color: rgba(255, 255, 255, 0.6);
  --logo-first-color: #000000;
  --header-bg-color: #ffffff;
  --hero-bg-color: #2f303a;
  --overlay-bg-color: #c4c4c4;
  --adventages-bg-color: #f5f5f5;
  --team-bg-color: #f5f4fa;
  --accent-bg-color: #2196f3;
  --cs-border-color: #eeeeee;
  --ph-border-color: #ececec;
  --box-shadow-color: rgba(0, 0, 0, 0.15);
  --network-icon-color: #afb1b8;
  --thumb-overley-bg-color: rgba(33, 150, 243, 0.9);
  --register-btn-color: #188ce8;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
/* PAGE */
/* body {
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  background-color: var(--header-bg-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
F*/ 

/* Nav-menu */
/* .nav-menu {
  display: flex;
  align-items: center;
}
.nav-menu .item:not(:last-child) {
  margin-right: 93px;
} */
/* Page logo
.header-logo {
  display: inline-block;

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--accent-color);
}
.first-logo {
  display: inline-block;

  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--logo-first-color);
} */
/* Page navigation */

.current {
  color: var(--accent-color);
}
.page-nav .item {
  position: relative;
}
.current::after {
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 4px;
  content: '';
  background-color: var(--accent-color);
  border-radius: 2px;
}
/* Page-contacts */
.page-contacts a {
  

  
  text-decoration: none;
}

.page-contacts {
  display: flex;
  align-items: center;
}
.page-contacts .item:not(:last-child) {
  margin-right: 27px;
}

.mail-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  vertical-align: text-bottom;
}
.tel-icon {
  width: 16px;
  height: 16px;
  margin-right: 7px;
  vertical-align: text-bottom;
}

/* footer */
/* .footer {
  padding: 60px 0px;
  background-color: var(--hero-bg-color);
} */
/* .down {
  display: flex;
}
.footer-networks {
  padding-top: 12px;
  margin-left: 70px;
  margin-right: 93px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--accent-color);
}
.second-logo {
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;

  color: var(--hero-color);
} */
/* Address */
.mail-link,
.tel-link {
  display: inline-block;
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;

  color: var(--address-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mail {
  margin-bottom: 9px;
}
.location-link {
  display: inline-block;
  font-style: normal;
  line-height: 1.5;
  text-decoration: none;

  color: var(--hero-color);
}
.location {
  margin-bottom: 9px;
}
.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}
.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}
.net-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  fill: var(--hero-color);
  background-color: var(--network-bg-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.net-links:hover,
.net-links:focus {
  background-color: var(--accent-bg-color);
}
.footer-links {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--hero-color);
}
/* Footer-subscription */

.footer-subscription {
  display: inline-flex;
  gap: 12px;
}
.subscription-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subscription-label {
  padding-top: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;

  color: var(--hero-color);
}
.subscription-input {
  min-width: 358px;
  height: 50px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: var(--hero-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}
.subscription-input::placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);

  color: rgba(255, 255, 255, 0.6);
}
.subscription-btn {
  position: relative;
  margin-top: 48px;
  padding: 10px 62px 10px 28px;
  min-width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);

  letter-spacing: 0.06em;

  color: #ffffff;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
}
.subscription-icon {
  position: absolute;
  top: 13px;
  right: 28px;
  fill: var(--header-bg-color);
}
/* MAIN */

/* Hero */
.hero {
  padding: 200px 0px;
  background-color: var(--hero-bg-color);
}
.overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--overlay-bg-color);
}
.hero-title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  color: var(--hero-color);
}
/* button */
.button {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 6px 28px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  min-width: 216px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px var(--box-shadow-color);
  border-radius: 4px;
  border: 4px solid transparent;

  color: var(--hero-color);
  background-color: var(--accent-color);
}
/* Section */
/* .section {
  padding: 94px 0px;
} */
/* Our adventages */
/* .container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
} */
/* 
.our-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */
/* .our-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;

  background-color: var(--team-bg-color);
  border-radius: 4px;
} */


/* .adventages-text {
  margin-bottom: 0px;
  line-height: 1.71;
} */
/* 
.our-adventages {
  display: flex;
}
.our-adventages .item:not(:last-child) {
  margin-right: 30px;
}
.our {
  width: 270px;
} */
/* What we do */
/* .examples {
  padding-top: 0;
}
.title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--title-text-color);
} */
/* .do {
  display: flex;
}
.do .item:not(:last-child) {
  margin-right: 30px;
} */
/* Exemples-card */
/* .exemples-card {
  position: relative;
}
.exemples-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  /* height: 70px;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}
.exemples-text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--hero-color);
} */
/* Our team */
/* .team {
  background-color: var(--team-bg-color);
}
.team-text {
 
  
}
.team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--title-text-color);
}
.team-position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
}
.our-team {
  display: flex;
}
.card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team .item:not(:last-child) {
  margin-right: 30px;
} */
/* Social-networks */
/* .social-networks {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-networks .item:not(:last-child) {
  margin-right: 10px;
} */
/* .network-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--network-icon-color);
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.network-links:hover,
.network-links:focus {
  fill: var(--hero-color);
  background-color: var(--accent-bg-color);
} */ */
/* Regular-clients */
/* .clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients-list .item:not(:last-child) {
  margin-right: 30px;
} */
/* .clients {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--network-icon-color);
  border-radius: 4px;
  fill: var(--network-icon-color);
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients:hover,
.clients:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
} */
/* PORTFOLIO */
.portfolio h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Portfolio navigation */
.portfolio-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-nav .item:not(:last-child) {
  margin-right: 8px;
}
.buttons {
  padding: 6px 22px;
  border-radius: 4px;
  border: 4px solid transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;

  color: var(--title-text-color);
  background: var(--team-bg-color);
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-current {
  color: var(--hero-color);
  background-color: var(--accent-bg-color);
}
.buttons:hover,
.buttons:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-bg-color);
  color: var(--hero-color);
}
/* Portfolio works */
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
}
.card-set .item {
  flex-basis: calc((100% - 60px) / 3);
}
.works-links:hover,
.works-links:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-position {
  background-color: var(--header-bg-color);
}
.works-links {
  display: block;
  background-color: var(--header-bg-color);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card-text {
  padding: 20px 24px;

  border-right: 1px solid var(--cs-border-color);
  border-bottom: 1px solid var(--cs-border-color);
  border-left: 1px solid var(--cs-border-color);
}
.card-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.card-position {
  font-size: 16px;
  line-height: 1.88;

  color: var(--primary-text-color);
}
/* Thumb-overlay */
.thumb {
  position: relative;
  overflow: hidden;
}
.thumb-overlay {
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--thumb-overley-bg-color);
  transform: translateY(+100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.works-links:hover .thumb-overlay,
.works-links:focus .thumb-overlay {
  transform: translateY(0%);
}
.overlay-text {
  font-size: 18px;
  line-height: 1.56;

  color: var(--hero-color);
}
/* MODAL-WINDOW */
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%);
}
.modal {
  display: block;
  padding: 40px;
  position: absolute;
  left: 50%;
  top: 50%;

  width: 528px;
  height: 581px;

  background-color: var(--header-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--header-bg-color);
}
.button-close:hover,
.button-close:focus {
  fill: var(--accent-color);
}
/* USER_FORM */
.register-title {
  display: block;
  margin-bottom: 12px;

  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.register-group {
  margin-bottom: 20px;
}

.register-wrap {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 4px;
}

.register-wrap:not(:last-child) {
  margin-bottom: 10px;
}

.register-label {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.register-field {
  height: 40px;
  padding: 12px 41px;

  font-size: 14px;
  line-height: calc(14 / 12);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-field:focus {
  border-color: var(--accent-color);
}

.register-icon {
  position: absolute;
  bottom: 14px;
  left: 12px;

  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.register-field:focus + .register-icon {
  fill: var(--accent-color);
}

.register-message {
  height: 120px;
  padding: 12px 16px;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--primary-text-color);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  resize: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.register-message:focus {
  border-color: var(--accent-bg-color);
}
.register-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.register-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  margin-bottom: 30px;
}
.register-checkbox:focus + .register-agreement-icon {
  outline: 2px solid var(--accent-color);
  outline-offset: 1px;
  border-radius: 2px;
}
.icon-uncheck {
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.register-checkbox {
  opacity: 0;
}
.register-checkbox:checked + .register-agreement-icon > .icon-uncheck {
  opacity: 0;
}
.icon-check {
  opacity: 0;
  fill: var(--accent-bg-color);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.register-checkbox:checked + .register-agreement-icon > .icon-check {
  opacity: 1;
}
.register-agreement-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  user-select: none;
}

.register-agreement-link {
  color: var(--accent-color);
  text-decoration: underline;
  text-underline-position: under;
}

.register-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;

  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--hero-color);
  background: var(--accent-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
}

.register-btn:focus,
.register-btn:hover {
  background-color: var(--register-btn-color);
}
