.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;

  @media screen and (max-width: 767px) {
    & .item {
      flex-basis: calc((100% - 0px) / 1);
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    & .item {
      flex-basis: calc((100% - 30px) / 2);
    }
  }

  @media screen and (min-width: 1200px) {
    & .item {
      flex-basis: calc((100% - 60px) / 3);
    }
  }
}
