.footer {
  padding: 60px 0px;
  background-color: $hero-bg-color;

  &__desc {
    margin-bottom: 20px;
    font-weight: 700;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $hero-color;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    &__container {
      display: block;
    }
    &__item {
      display: inline-block;
      text-align: center;
    }

    &__item--mobile {
      margin-bottom: 60px;
    }
    &__desc--mobile {
      display: block;
      text-align: center;
    }
    &__networks--mobile {
      margin-bottom: 60px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    &__item {
      display: flex;
      flex-direction: column;
    }

    &__item--mobile {
      margin-bottom: 60px;
    }
    &__desc--mobile {
      display: block;
      text-align: center;
      margin-top: 5px;
    }
    &__networks--mobile {
      margin-bottom: 60px;
    }
  }
  @media screen and (min-width: 1200px) {
    &__container {
      display: flex;
    }

    &__networks {
      padding-top: 12px;
      margin-left: 70px;
      margin-right: 93px;
    }
    &__logo {
      margin-bottom: 20px;
    }

    &__container {
      display: flex;
    }

    &__networks {
      padding-top: 12px;
      margin-left: 70px;
      margin-right: 93px;
    }
    &--footer {
      margin-bottom: 20px;
    }
  }
}
