.logo {
  display: inline-block;

  font-family: $secondary-font;
  @include fonts(24px, 28px, 700, 0.03em);
  text-decoration: none;

  color: $accent-txt-cl;

  @include mq(desk) {
    font-size: 26px;
    line-height: calc(31 / 26);
  }
}
.logo__secondary-part {
  font-family: $secondary-font;
  @include fonts(24px, 28px, 700, 0.03em);
  text-decoration: none;

  color: $dark-cl-00;

  @include mq(desk) {
    font-size: 26px;
    line-height: calc(31 / 26);
  }
}
.logo__secondary-part--light {
  color: $light-txt-cl;
}


