// Mobile-menu-container
.menu-container {
  display: none;

  &.is-open {
    display: block;
    margin-top: -16px;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    z-index: 1;
    left: 0px;
    bottom: 32px;
    min-width: 320px;
    height: 796px;
    padding: 36px 30px;
    background-color: $white-bg-cl;
    @include mq(mob) {
      width: 480px;
      padding: 48px 40px;
    }
  }
  @include mq(tab) {
    display: none;
  }
}
// Mobile-menu-navigation
.menu-nav__list {
  @extend%list;
  @include mq(mob-only) {
    display: flex;
    flex-direction: column;
    margin-bottom: 302px;
  }
  @include mq(tab) {
    display: none;
  }
}
.menu-nav__item {
  @include mq(mob-only) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  @include mq(tab) {
    display: none;
  }
}
.menu-nav__link {
  @extend%animation;

  @include mq(mob-only) {
    display: block;
    margin-right: auto;
    @include fonts(40px, 47px, 500, 0.02em);
    color: $dark-txt-cl;
    transition-property: color;

    &:hover,
    &:focus {
      color: $accent-txt-cl;
    }
    &--current {
      color: $accent-txt-cl;
    }
  }
  @include mq(tab) {
    display: none;
  }
}
// Mobile-menu-contacts
.menu-contacts__list {
  @extend%list;
  @include mq(mob-only) {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
  }
}
.menu-contacts__item {
  @include mq(mob-only) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  @include mq(tab) {
    display: none;
  }
}
.menu-contacts__link {
  display: block;
  margin-right: auto;
  @include fonts(20px, 24px, 500, 0.02em);

  @include mq(mob) {
    @include fonts(24px, 28px, 500, 0.02em);
    color: $main-txt-cl;
  }
  @include mq(tab) {
    display: none;
  }
  &--mobile {
    @include fonts(28px, 34px, 500, 0.02em);
    color: $accent-txt-cl;
    @include mq(mob) {
      @include fonts(34px, 40px, 500, 0.02em);
    }
  }
}
// Mobile-menu-socials
.menu-socials__list {
  @extend%list;
  @include mq(mob-only) {
    display: flex;
    align-items: center;
  }
  @include mq(tab) {
    display: none;
  }
}
.menu-socials__item {
  margin-right: 10px;
  @include mq(mob) {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  @include mq(tab) {
    display: none;
  }
}
.menu-socials__link {
  @include fonts(14px, 18px, 500, 0.02em);
  color: $accent-txt-cl;
  @include mq(mob) {
    @include fonts(18px, 22px, 500, 0.02em);
  }
  @include mq(tab) {
    display: none;
  }
}
// Mobile-menu-button
.menu-button {
  @include mq(mob-only) {
    position: absolute;
    top: 6px;
    right: 0px;
    z-index: 2;

    border: none;
    background-color: transparent;
  }
  @include mq(tab) {
    display: none;
  }
}
.mobile-btn-icon__menu {
  @include mq(mob-only) {
    .menu-button & {
      display: none;
    }
    .menu-button.is-open & {
      display: block;
    }
  }
}
.mobile-btn-icon__close {
  .menu-button.is-open & {
    display: none;
  }
  transition-property: fill;
  @extend%animation;

  &:hover,
  &:focus {
    fill: $accent-txt-cl;
  }
}
