// Mobile-menu-button
.mobile-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  margin-left: auto;
  margin-right: 8px;

  background-color: transparent;
  border: none;

  cursor: pointer;

  @include mq(tab) {
    display: none;
  }
}
// Mobile-menu-container
.mobile-menu {
  position: relative;

  display: flex;
  flex-direction: column;

  max-width: 480px;
  height: inherit;
  margin-left: auto;
  margin-right: auto;
  padding: 36px 30px;

  background-color: $white-bg-cl;

  transform: translateX(0);
  @extend%animation;
  .backdrop--is-hidden & {
    transform: translateX(100%);
  }
  @include mq(mob) {
    padding: 48px 40px;
  }

  @include mq(tab) {
    display: none;
  }
}

.mobile-menu-btn {
  position: absolute;
  top: 21px;
  right: 20px;

  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;

  transition-property: fill;
  @extend%animation;

  &:hover,
  &:focus {
    fill: $accent-txt-cl;
  }
}

.mobile-btn-icon__menu {
  @include mq(mob-only) {
    .menu-button & {
      display: none;
    }
    .menu-button.is-open & {
      display: block;
    }
  }
}


// Mobile-menu-navigation
.mobile-menu-nav__list {
  @extend%list;
  @include mq(mob-only) {
    display: flex;
    flex-direction: column;
    margin-bottom: 302px;
  }
  @include mq(tab) {
    display: none;
  }
}
.mobile-menu-nav__item {
  @include mq(mob-only) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  @include mq(tab) {
    display: none;
  }
}
.mobile-menu-nav__link {
  @extend%animation;

  @include mq(mob-only) {
    display: block;
    margin-right: auto;
    @include fonts(40px, 47px, 500, 0.02em);
    color: $dark-txt-cl;
    transition-property: color;

    &:hover,
    &:focus {
      color: $accent-txt-cl;
    }
    &--current {
      color: $accent-txt-cl;
    }
  }
  @include mq(tab) {
    display: none;
  }
}
// Mobile-menu-contacts
.mobile-menu-contacts__list {
  @extend%list;
  @include mq(mob-only) {
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
  }
}
.mobile-menu-contacts__item {
  @include mq(mob-only) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  @include mq(tab) {
    display: none;
  }
}
.mobile-menu-contacts__link {
  display: block;
  margin-right: auto;
  @include fonts(20px, 24px, 500, 0.02em);

  @include mq(mob) {
    @include fonts(24px, 28px, 500, 0.02em);
    color: $main-txt-cl;
  }
  @include mq(tab) {
    display: none;
  }
  &--mobile {
    @include fonts(28px, 34px, 500, 0.02em);
    color: $accent-txt-cl;
    @include mq(mob) {
      @include fonts(34px, 40px, 500, 0.02em);
    }
  }
}
// Mobile-menu-socials
.mobile-menu-socials__list {
  @extend%list;
  @include mq(mob-only) {
    display: flex;
    align-items: center;
  }
  @include mq(tab) {
    display: none;
  }
}
.mobile-menu-socials__item {
  margin-right: 10px;
  @include mq(mob) {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  @include mq(tab) {
    display: none;
  }
}
.mobile-menu-socials__link {
  @include fonts(14px, 18px, 500, 0.02em);
  color: $accent-txt-cl;
  @include mq(mob) {
    @include fonts(18px, 22px, 500, 0.02em);
  }
  @include mq(tab) {
    display: none;
  }
}
