.modal {
  position: relative;
  left: 50%;
  top: 400px;
  padding: 40px;
  @include mq(mob-only) {
    max-width: 450px;
  }

  background-color: $white-bg-cl;
  box-shadow: 0px 1px 3px $dark-cl-12, 0px 1px 1px $dark-cl-14, 0px 2px 1px $dark-bg-cl-20;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  transition-property: opacity;
  @extend%animation;
  @include mq(mob) {
    width: 450px;
  }
  @include mq(desk) {
    width: 528px;
  }
}
.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid $dark-cl-10;
  background-color: $white-bg-cl;

  &:hover,
  &:focus {
    fill: $accent-txt-cl;
  }
}
