// .REGISTER
.register__title {
  display: block;
  margin-bottom: 12px;
  @include fonts(20px, 30px, 700, 0.03em);
  text-align: center;

  color: $dark-txt-cl;
  @include mq(desk) {
    line-height: calc(23 / 20);
  }
}
.register__form {
  margin-bottom: 20px;
}

.register__wrap {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 4px;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.register__label {
  @include fonts(12px, 14px, 500, 0.01em);
  color: $main-txt-cl;
}

.register__field {
  padding: 11px 41px;
  @include fonts(14px, 16px, 400, 0.02em);

  border: 1px solid $border-reg-dark-cl-20;
  border-radius: 4px;
  outline: transparent;

  transition: border-color;
  @extend%animation;
  &:focus,
  &:hover {
    border-color: $accent-txt-cl;
  }
}

.register__icon {
  position: absolute;
  padding: 0;
  bottom: 15px;
  left: 12px;

  fill: $dark-txt-cl;
  transition: fill;
  @extend%animation;
  .register__field:focus + & {
    fill: $accent-txt-cl;
  }
}
.register__message {
  height: 120px;
  padding: 12px 16px;

  @include fonts(14px, 16px, 400, 0.01em);
  color: $main-txt-cl;

  border: 1px solid $border-reg-dark-cl-20;
  border-radius: 4px;
  outline: transparent;
  resize: none;

  transition: border-color;
  @extend%animation;
  &:focus {
    border-color: $accent-bg-cl;
  }
  &::placeholder {
    color: $gray-txt-cl-50;
  }
}

.register__agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  margin-bottom: 30px;
}
.register__checkbox {
  opacity: 0;
  &:focus + .register__agreement-icon {
    outline: 2px solid $accent-txt-cl;
    outline-offset: 1px;
    border-radius: 2px;
  }
  &:checked + .register__pic > .register__uncheck {
    opacity: 0;
  }
  &:checked + .register__pic > .register__check {
    opacity: 1;
  }
}

.register__uncheck {
  transition: opacity;
  @extend%animation;
}
.register__check {
  opacity: 0;
  fill: $accent-txt-cl;

  transition: opacity;
  @extend%animation;
}

.register__text-label {
  @include fonts(12px, 14px, 400, 0.03em);

  color: $main-txt-cl;

  user-select: none;

  @include mq(desk) {
    @include fonts(14px, 24px, 400, 0.03em);
  }
}

.register__text-link {
  @include fonts(12px, 14px, 400, 0.03em);
  text-decoration: underline;
  text-underline-position: under;

  color: $accent-txt-cl;
  @include mq(desk) {
    @include fonts(14px, 24px, 400, 0.03em);
  }
}

.register__btn {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;

  min-width: 200px;
  height: 50px;

  @include fonts(16px, 30px, 700, 0.06em);
  text-align: center;

  color: $light-txt-cl;
  background: $accent-bg-cl;
  box-shadow: 0px 4px 4px $dark-cl-15;
  border-radius: 4px;
  border: transparent;

  &:focus,
  &:hover {
    background-color: $blue-btn-cl;
  }
}
