.address__list {
  @extend%list;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  @include mq(desk) {
    gap: 9px;
    align-items: flex-start;
  }
}
.address__link {
  display: flex;
  justify-content: center;
  align-items: center;
  @include fonts(14px, 24px, 400, 00.03em);
  font-style: normal;

  color: $light-gray-txt-cl-60;
  transition-property: color;
  @extend%animation;
  &:hover,
  &:focus {
    color: $accent-txt-cl;
  }
}
.address__link--location {
  color: $light-txt-cl;
  &:hover,
  &:focus {
    color: $light-txt-cl;
  }
}
