.clients {
  @include section;
  background-color: $white-bg-cl;
}
.clients__title {
  margin-bottom: 30px;
  @include fonts(28px, 33px, 700, 0.03em);
  text-align: center;

  color: $dark-txt-cl;
  @include mq(desk) {
    margin-bottom: 50px;
    @include fonts(36px, 42px, 700, 0.03em);
  }
}
.clients__list {
  @extend%list;
  align-items: center;
  justify-content: center;
  gap: 30px;
  --items: 2;
  @include mq(tab) {
    --items: 3;
  }
  @include mq(desk) {
    --items: 6;
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top:  16px;
  padding-bottom: 16px;
  

  border: 1px solid $gray-icon-cl;
  border-radius: 4px;

  fill: $gray-icon-cl;
  transition-property: fill, border;
  @extend%animation;
  &:hover,
  &:focus {
    border: 1px solid $accent-txt-cl;
    fill: $accent-txt-cl;
  }
}
