.examples {
  @include mq(not-desk) {
    display: none;
  }
  padding-bottom: 94px;
}

.examples__heading {
  padding-top: 0;
  margin-bottom: 50px;

  @include fonts(36px, 42px, 700, 0.03em);
  text-align: center;

  color: $dark-txt-cl;
}
.examples__list {
  @extend%list;
  --items: 3;
}
.examples__content {
  position: relative;
}
.examples__overlay {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 70px;
  align-items: center;
  justify-content: center;
  background-color: $dark-gray-cl-80;
}
.examples__subtitle {
  @include fonts(14px, 16px, 700, 0.03em);
  text-transform: uppercase;

  color: $light-txt-cl;
}
