.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $gray-bg-cl;
}
.footer__container {
  display: flex;
  flex-direction: column;
  
  @include mq(mob-only) {
    align-items: stretch;
    gap: 60px;
  }
  @include mq(tab) {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @include mq(desk) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
.footer__wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include mq(desk) {
    align-items: flex-start;
  }
}
.footer__logo {
  @include mq(not-desk) {
    margin-left: auto;
    margin-right: auto;
  }
}
.footer__networks {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include mq(tab) {
    justify-content: center;
    margin-top: 12px;
    margin-bottom: auto;
  }
}
.footer__desc {
  @include fonts(14px, 16px, 700, 0.03em);
  text-transform: uppercase;

  color: $light-txt-cl;
  @include mq(not-desk) {
    margin-left: auto;
    margin-right: auto;
  }
}
.footer__subscription {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch; 
  @include mq(tab) {
    align-items: center; 
    margin-top: 60px;
  }
  @include mq(desk) {
    flex-direction: row;
    align-items: flex-end;
    margin-top: 12px;
    margin-bottom: auto;
    gap: 12px;
  }
}
